@import '../variables/variables.scss';

.form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid $general-color;
  outline: none;
  color: $general-color;

  &:focus {
    border: 2px solid $accent-color;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent
  }
}



